<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock title%} | Golem</title>
		<link rel="stylesheet" href="/static/css/defaults.css" />
		{% endblock head %}
	</head>
	<body>
		<div id="wrapper">
			{%- block nav -%}
			<nav id="nav">
				<img src="/static/images/favicon.svg" alt="Icon" />
				<h1>Golem</h1>
				<button id="show-change-name">Change Name</button>
				<button id="show-login">Login</button>
			</nav>
			{%- endblock nav -%}{%- block content %} {% endblock content -%}
		</div>
		{% block body %} {% endblock body %}
	</body>
</html>
